body{
    background: #BDBDBD;
}
.navbar-brand, .nav-link {
    color: grey;
}
.nav-link:hover, .container-fluid:first-child a:hover {
    color: rgb(87, 85, 85);
}

.h1s, .h1s-grey {
    display: inline;
}
.h1s-grey {
    color: grey;
}

/* .services-img {
    padding-bottom: 1rem;
} */