.navbar-brand, .nav-link {
    color: grey;
}
.nav-link:hover, .container-fluid:first-child a:hover {
    color: rgb(87, 85, 85);
}

.h1s, .h1s-grey {
    display: inline;
}
.h1s-grey {
    color: grey;
}
.navbar {
    margin-bottom: 3rem;
}
body{
    font-family: sans-serif;
    margin: 0;
}
.heading h2{
    width: 80%; 
    display: inline;      
}
.heading p{
    width: 90%;
    
}
header {
    display: flex;
    height: 50%;
    justify-content: space-between;
    padding: 30px;
    align-items: left;
}
div.heading img-01 {
    width: 50%;
}
section {
    padding: 40px;
}
.row input {
    align-items: center;
}
div.header-01{
    width: 50%;
    background: rgb(235, 233, 233, 0.5);
    align-content: center;
    padding: 10px;
    
}
section .md-4 {
    padding: 5px;
}
.margin{
    margin: 0 1rem 0 1rem;
}