.navbar-brand, .nav-link {
    color: grey;
}
.nav-link:hover, .container-fluid:first-child a:hover {
    color: rgb(87, 85, 85);
}

.h1s, .h1s-grey {
    display: inline;
}
.h1s-grey {
    color: grey;
}
.navbar {
    margin-bottom: 3rem;
}
body{
    font-family: sans-serif;
    margin: 0;
}
.heading h2{
    width: 80%; 
    display: inline;      
}
.heading p{
    width: 90%;
    
}
header {
    display: flex;
    height: 50%;
    justify-content: space-between;
    padding: 30px;
    align-items: left;
}
div.heading img-01 {
    width: 50%;
}
section {
    padding: 40px;
}
.row input {
    align-items: center;
}
.container-fluid {
    padding: 0;
}
div.header-01{
    width: 50%;
    background: rgb(235, 233, 233, 0.5);
    align-content: center;
    padding: 10px;
    
}
section .md-4 {
    padding: 5px;
}
.margin{
    margin: 0 1rem 0 1rem;
}
.tagline {
    width: 100%;
    height: 500px;
    margin-top: -50px;
    background-image: url("https://img.freepik.com/foto-gratis/hermosa-panoramica-ciudad-nueva-york_181624-433.jpg?w=1060&t=st=1659287246~exp=1659287846~hmac=5fec2aa8b67b92eb88da4e577de982888c385c8c99f366ec3cac9289baecb645");
    background-size: cover;
    background-position: center;
}
.h-tagline {
    background-color: white;
}
#h1-tagline {
    text-align: center;
    font-size: 75px;
    margin-bottom: 15px;
}
#h2-tagline {
    text-align: center;
    font-size: 45px;
}
#title {
    margin-top: 100px;
    margin-bottom: 20px;
}