<div class="portfolio">
    <h2>Porfolio</h2>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        


    <h3 style="color:cornflowerblue; float:left; width:33.3%;"> Project name</h3>
    <h3 style="color:cornflowerblue; float:left; width:33.3%"> Project name</h3>
    <h3 style="color:cornflowerblue; float:left; width:33.3%"> Project name</h3>
    <p style="float:left; width:33.3%"> Lorem ipsum dolor sit amet, consectutetur adipiscing elit. Nam viverra euismod
        odio, gravida pellentesque urna varius vitae</p>
    <p style="float:left; width:33.3%"> Lorem ipsum dolor sit amet, consectutetur adipiscing elit. Nam viverra euismod
        odio, gravida pellentesque urna varius vitae</p>
    <p style="float:left; width:33.3%"> Lorem ipsum dolor sit amet, consectutetur adipiscing elit. Nam viverra euismod
        odio, gravida pellentesque urna varius vitae</p>

</div>