<div id="service" class="container services-box">
    <hr>
    <div class="pb-5 pt-5">

        <div class="row">
            <div class="col-4">
                <img class="rounded-circle float-start shadow-lg img-fluid" alt="300x300"
                    src="https://raw.githubusercontent.com/Systemjon/exercise-collaborative-html-website/f2143edc5839f49ead9fe705c60951db098af2b7/website/assets/img/2.jpg"
                    data-holder-rendered="true">
            </div>
            <div class="col-8">
                <p class="fs-1 h1s fw-bold">The Second Heading&nbsp;</p>
                <p class="fs-1 h1s-grey fw-bold">Is Pretty Cool Too.</p>
                <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales orci id leo
                    consequat, ut venenatis libero placerat. Aliquam erat magna, vestibulum quis velit in, vehicula interdum
                    dui. Sed ut fermentum diam. Integer scelerisque libero eros, at porta mi commodo non. Quisque ac eros sit
                    amet ligula hendrerit maximus quis in ipsum. Integer ut suscipit purus. Duis quis tempor dolor. Donec
                    egestas tortor sed lectus efficitur porttitor. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. Mauris ac ultrices nulla.
        
                    Aliquam et neque ac elit laoreet interdum ultricies id diam. Etiam laoreet commodo quam euismod vulputate.
                    Mauris pulvinar aliquet est, ut gravida diam viverra vitae. Sed risus nibh, posuere nec velit sit amet,
                    mattis iaculis sem. In rutrum nisl dui, non auctor velit scelerisque a. Ut rutrum ligula nec leo malesuada
                    convallis. Vivamus ultrices vehicula lacinia. Integer magna neque, lacinia id lectus eget, viverra eleifend
                    nisl. Vestibulum dictum gravida porttitor. Quisque quis laoreet arcu, eget condimentum ipsum. Fusce ac eros
                    tincidunt, facilisis arcu id, malesuada dui.</p>
            </div>
        </div>

       

    </div>
    <hr>
</div>