<div class="row services-html" >
    <div class="col-md-1" ></div>
    <div class="col-md-2">
        <img class="rounded-circle float-end shadow-lg " alt="300x300" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
          data-holder-rendered="true">
    </div>
    <div class="col-md-8" >
        <p class="fs-1 h1s fw-semibold">The Second Heading&nbsp;</p>
        <p class="fs-1 h1s-grey fw-semibold">Is Pretty Cool Too</p>
        <p class="text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim laborum aperiam corrupti molestias, officiis delectus ipsa vitae ex pariatur ipsum praesentium at tempora modi doloribus ducimus consequuntur recusandae ipsam cumque.</p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-1" ></div>
</div>